<?xml version="1.0" encoding="utf-8" ?>
<!--
  SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
  SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 beStrictAboutOutputDuringTests="false"
		 beStrictAboutTodoAnnotatedTests="false"
		 failOnWarning="true"
		>
	<testsuite name='User VO - Live VO API Contract Tests'>
		<directory suffix='Test.php'>.</directory>
	</testsuite>
</phpunit>
